repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: .venv/bin/ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        entry: .venv/bin/python -m pytest
        language: system
        types: [python]
        pass_filenames: false
